body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #FF69B4; /* Różowy */
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #FFB6C1; /* Jasnoróżowy obrys */
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.0), 0 8px 16px rgba(255, 105, 180, 0.0); /* Początkowy brak cieni */
    animation: fadeInShadow 1s forwards, pulseShadow 3s infinite alternate; /* Dodana animacja pulsowania */
}

@keyframes fadeInShadow {
    0% {
        box-shadow: 0 4px 8px rgba(255, 105, 180, 0.0), 0 8px 16px rgba(255, 105, 180, 0.0);
    }
    100% {
        box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2), 0 8px 16px rgba(255, 105, 180, 0.2);
    }
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0 4px 8px rgba(255, 105, 180, 0.2), 0 8px 16px rgba(255, 105, 180, 0.2);
    }
    100% {
        box-shadow: 0 6px 12px rgba(255, 105, 180, 0.4), 0 12px 24px rgba(255, 105, 180, 0.4);
    }
}

section h2 {
    color: #FF69B4; /* Różowy */
}

a {
    color: #FF69B4; /* Różowy */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #FF69B4; /* Różowy */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

p, li {
    color: #555;
}
